body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Work Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
main {
    
    display: flex;
    flex-direction: row;
    background-color: rgba(122, 120, 119, 0.686);
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 35%;
}

form>div {
    background-color: #5675d1;
    padding: 1rem;
    border-radius: 8px;
}

input {
    background-color: white;
    border: 0;
    border-radius: 5px;
    height: 1.5rem;
    font-size: large;
}

input:active, input:focus {
    outline: 2px solid gray;
}

input#profilepic {
    visibility: hidden;
}

.profilepicker {
    font-size: medium;
    background-color: white;
    display: flex;
    margin-top: 15px;
    margin-bottom: -20px;
    border: 0;
    border-radius: 5px;
    height: 1.5rem;
    align-items: center;
}

.profilepicker:hover {
    cursor: text;
}

.panel-input {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

}

.cv {
    min-width: 50%;
    background-color: #5675d1;
    border-radius: 5px;
    padding: 1rem;
}

.secondary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

button {
    background-color: #f0f8ff;
    border: 0;
    border-radius: 0.2rem;
    height: 2rem;
    font-size: medium;
}

button:hover {
    cursor: pointer;
    background-color: #f0f8ffab;
}

.basic-info {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

}

.profileimg {
    max-height: 240px;
}